repos:

  - repo: local
    hooks:
      - id: ruff-check
        name: Run ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: Run ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: mypy
        name: Run mypy
        entry: bash -c "uv run mypy src"
        language: system
        types: [python]
