repos:

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.6
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.14.1 
  hooks:
  - id: mypy

- repo: https://github.com/PyCQA/bandit
  rev: 1.9.1
  hooks:
  - id: bandit
    args: [ src, -r, -n, "3", -lll ]
    exclude: .*
