name: Continuous_Integration


on:
    push:
        branches:
            - main
            - patch/**
    
    pull_request:
        branches:
            - main
            - patch/**


permissions:
    contents: read # to fetch code (actions/checkout)


defaults:
    run:
        shell: bash


env:
    SRC_PATH: src
    TST_PATH: tests


jobs:
    static_analysis:
        name: Static Analysis
        runs-on: ubuntu-latest

        steps:
            - name: checkout
              uses: actions/checkout@v6

            - name: Install UV
              uses: astral-sh/setup-uv@v5

            - name: Install the project
              run: |
                uv sync \
                  --all-extras \
                  --dev

            - name: Run Ruff
              run: |
                uv run ruff check $SRC_PATH \
                  --no-fix \
                  --output-format=github

            - name: Run MyPy
              run: |
                uv run mypy $SRC_PATH \
                  --config-file pyproject.toml \
                  --output=json \
                  | jq -r '"::error title=Mypy issue,file=\(.file),line=\(.line),col=\(.column)::\(.message)"'

            - name: Run Bandit
              run: |
                {
                  echo "Bandit:"
                  echo "\`\`\`"
                  uv run bandit $SRC_PATH \
                    -c pyproject.toml \
                    -r \
                    -n 3 \
                    -lll
                  echo "\`\`\`"
                } >> $GITHUB_STEP_SUMMARY

            - name: Run Radon
              run: |
                {
                  echo "Radon:"
                  echo "\`\`\`"
                  uv run radon cc $SRC_PATH
                  echo "\`\`\`"
                }  >> $GITHUB_STEP_SUMMARY

    smoke_test:
        name: Smoke Test
        runs-on: ubuntu-latest
        needs:
            - static_analysis

        steps:
            - name: checkout
              uses: actions/checkout@v6

            - name: Install UV
              uses: astral-sh/setup-uv@v5

            - name: Install the project
              run: |
                uv sync \
                --all-extras \
                --dev

            - name: Run tests
              run: |
                uv run pytest $TST_PATH \
                  --cov=$SRC_PATH \
                  --doctest-modules \
                  --cov-report markdown-append:$GITHUB_STEP_SUMMARY
